		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Orderheader' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'orderheader.uid' | translate }}</th>
						<th>{{ 'orderheader.orderno' | translate }}</th>
						<th>{{ 'orderheader.parentorderno' | translate }}</th>
						<th>{{ 'orderheader.paymentno' | translate }}</th>
						<th>{{ 'orderheader.payacount' | translate }}</th>
						<th>{{ 'orderheader.totalacount' | translate }}</th>
						<th>{{ 'orderheader.discount' | translate }}</th>
						<th>{{ 'orderheader.discountid' | translate }}</th>
						<th>{{ 'orderheader.orderstatus' | translate }}</th>
						<th>{{ 'orderheader.orderinfo' | translate }}</th>
						<th>{{ 'orderheader.paymentmethod' | translate }}</th>
						<th>{{ 'orderheader.tradedate' | translate }}</th>
						<th>{{ 'orderheader.useragent' | translate }}</th>
						<th>{{ 'orderheader.userid' | translate }}</th>
						<th>{{ 'orderheader.storeid' | translate }}</th>
						<th>{{ 'orderheader.ip' | translate }}</th>
						<th>{{ 'orderheader.createdate' | translate }}</th>
						<th>{{ 'orderheader.modifydate' | translate }}</th>
						<th>{{ 'orderheader.createuser' | translate }}</th>
						<th>{{ 'orderheader.modifyuser' | translate }}</th>
						<th>{{ 'orderheader.delflg' | translate }}</th>
						<th>{{ 'orderheader.platform' | translate }}</th>
						<th><a class="btn btn-info" href='#/orderheader/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="orderheader in orderheaders">
						<td>{{orderheader.uid}}</td>
						<td>{{orderheader.orderno}}</td>
						<td>{{orderheader.parentorderno}}</td>
						<td>{{orderheader.paymentno}}</td>
						<td>{{orderheader.payacount | number }}</td>
						<td>{{orderheader.totalacount | number }}</td>
						<td>{{orderheader.discount | number }}</td>
						<td>{{orderheader.discountid}}</td>
						<td>{{orderheader.orderstatus}}</td>
						<td>{{orderheader.orderinfo}}</td>
						<td>{{orderheader.paymentmethod}}</td>
						<td>{{orderheader.tradedate | date:'shortDate'}}</td>
						<td>{{orderheader.useragent}}</td>
						<td>{{orderheader.userid | number }}</td>
						<td>{{orderheader.storeid | number }}</td>
						<td>{{orderheader.ip}}</td>
						<td>{{orderheader.createdate | date:'shortDate'}}</td>
						<td>{{orderheader.modifydate | date:'shortDate'}}</td>
						<td>{{orderheader.createuser}}</td>
						<td>{{orderheader.modifyuser}}</td>
						<td>{{orderheader.delflg}}</td>
						<td>{{orderheader.platform}}</td>
						<td><a class="btn btn-info" href="#/orderheader/{{orderheader.uid}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
