	<fieldset class="col-sm-12 bordure">
		<legend class="legende">{{ 'Dishinfo' | translate }}</legend>
		
		<div ng-include src="'partials/message-include.html'"></div>
   		
		<form class="well form-horizontal">
			<div class="form-group" style="display:none">
				<label for="dishinfo_uid" class="col-sm-2 control-label">{{ 'dishinfo.uid' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_uid" name="uid" ng-model="dishinfo.uid" class="form-control" maxLength="20"  ng-disabled="mode != 'create'"/>
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_corpid" class="col-sm-2 control-label">{{ 'dishinfo.corpid' | translate }}</label>
				<div class="col-sm-10">
                    <select id="dishinfo_corpid" ng-model="dishinfo.corpid" name="corpid" class="form-control">
						<option value=""></option>
                        <option ng-repeat="category in items.categorys" title="{{category.label}}" ng-selected="{{category.value == dishinfo.corpid}}" value="{{category.value}}">{{category.label}}</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_no" class="col-sm-2 control-label">{{ 'dishinfo.no' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_no" name="no" ng-model="dishinfo.no" class="form-control" maxLength="10" />
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_categoryid" class="col-sm-2 control-label">{{ 'dishinfo.categoryid' | translate }}</label>
				<div class="col-sm-10">
                    <select id="dishinfo_categoryid" ng-model="dishinfo.categoryid" name="categoryid" class="form-control">
						<option value=""></option>
                        <option ng-repeat="category in items.categorys" title="{{category.label}}" ng-selected="{{category.value == dishinfo.categoryid}}" value="{{category.value}}">{{category.label}}</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_dishname" class="col-sm-2 control-label">{{ 'dishinfo.dishname' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_dishname" name="dishname" ng-model="dishinfo.dishname" class="form-control" maxLength="200" />
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_dishdescription" class="col-sm-2 control-label">{{ 'dishinfo.dishdescription' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_dishdescription" name="dishdescription" ng-model="dishinfo.dishdescription" class="form-control" maxLength="300" />
				</div>
			</div>
			<div class="form-group"  style="display:none">
				<label for="dishinfo_imageurl" class="col-sm-2 control-label">{{ 'dishinfo.imageurl' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_imageurl" name="imageurl" ng-model="dishinfo.imageurl" class="form-control" maxLength="300" />
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_price" class="col-sm-2 control-label">{{ 'dishinfo.price' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_price" name="price" ng-model="dishinfo.price" class="form-control" maxLength="20" />
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_type" class="col-sm-2 control-label">{{ 'dishinfo.type' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_type" name="type" ng-model="dishinfo.type" class="form-control" maxLength="4" />
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_hasspecification" class="col-sm-2 control-label">{{ 'dishinfo.hasspecification' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_hasspecification" name="hasspecification" ng-model="dishinfo.hasspecification" class="form-control" maxLength="4" />
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_startdate" class="col-sm-2 control-label">{{ 'dishinfo.startdate' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_startdate" name="startdate" ng-model="dishinfo.startdate" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_enddate" class="col-sm-2 control-label">{{ 'dishinfo.enddate' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_enddate" name="enddate" ng-model="dishinfo.enddate" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group" style="display:none">
				<label for="dishinfo_paused" class="col-sm-2 control-label">{{ 'dishinfo.paused' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_paused" name="paused" ng-model="dishinfo.paused" class="form-control" maxLength="4" />
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_promotionstarttime" class="col-sm-2 control-label">{{ 'dishinfo.promotionstarttime' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_promotionstarttime" name="promotionstarttime" ng-model="dishinfo.promotionstarttime" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_promotionendtime" class="col-sm-2 control-label">{{ 'dishinfo.promotionendtime' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_promotionendtime" name="promotionendtime" ng-model="dishinfo.promotionendtime" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="dishinfo_promotionprice" class="col-sm-2 control-label">{{ 'dishinfo.promotionprice' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="dishinfo_promotionprice" name="promotionprice" ng-model="dishinfo.promotionprice" class="form-control" maxLength="20" />
				</div>
			</div>

			<!-- ACTION BUTTONS -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<a role="button" class="btn btn-danger btn-block" ng-click="delete(dishinfo.uid)" ng-show="mode != 'create'">{{ 'delete' | translate }}</a>
				</div>
    			<div class="col-sm-offset-4 col-sm-2">
					<a role="button" class="btn btn-default btn-block" href="#/dishinfo">{{ 'cancel' | translate }}</a>
				</div>
    			<div class="col-sm-2">
					<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="save()">{{ 'save' | translate }}</button>
				</div>
			</div>
		</form>
			
    </fieldset>
