<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   		http://www.springframework.org/schema/data/jpa
   		http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	<!-- Configures the location of static resources such as css files. Requires 
		Spring Framework 3.0 or higher. -->
	<!-- bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> 
		<property name="dataSource" ref="dataSource" /> <property name="jpaVendorAdapter"> 
		<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"> 
		<property name="database" value="MYSQL" /> <property name="showSql" value="true" 
		/> </bean> </property> </bean -->

	<bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">

		<property name="target" ref="businessSequenceService" />

		<property name="interceptorNames">
			<list>
				<value>hijackAroundMethod</value>
			</list>
		</property>
	</bean>

	<mvc:resources mapping="/static/**" location="/static/" />
	<!-- Ensures that dispatcher servlet can be mapped to '/' and static resources 
		are still served by the containers default servlet. Requires Spring Framework 
		3.0 or higher. -->
	<!--mvc:default-servlet-handler/ -->

	<!-- Configures Spring Data JPA and sets the base package of my DAOs. -->
<!-- 	<jpa:repositories
		base-package="com.dt.hippo.auto.data.repository.jpa,com.dt.hippo.my.repository"
		entity-manager-factory-ref="entityManagerFactoryBean" /> -->
</beans>