	<fieldset class="col-sm-12 bordure">
		<legend class="legende">{{ 'Lottoryvoucherinfo' | translate }}</legend>
		
		<div ng-include src="'partials/message-include.html'"></div>
   		
		<form class="well form-horizontal">
			<div class="form-group">
				<label for="lottoryvoucherinfo_uid" class="col-sm-2 control-label">{{ 'lottoryvoucherinfo.uid' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="lottoryvoucherinfo_uid" name="uid" ng-model="lottoryvoucherinfo.uid" class="form-control" maxLength="20"  ng-disabled="mode != 'create'"/>
				</div>
			</div>
			<div class="form-group">
				<label for="lottoryvoucherinfo_parentvoucherid" class="col-sm-2 control-label">{{ 'lottoryvoucherinfo.parentvoucherid' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="lottoryvoucherinfo_parentvoucherid" name="parentvoucherid" ng-model="lottoryvoucherinfo.parentvoucherid" class="form-control" maxLength="20" />
				</div>
			</div>
			<div class="form-group">
				<label for="lottoryvoucherinfo_rate" class="col-sm-2 control-label">{{ 'lottoryvoucherinfo.rate' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="lottoryvoucherinfo_rate" name="rate" ng-model="lottoryvoucherinfo.rate" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="lottoryvoucherinfo_value" class="col-sm-2 control-label">{{ 'lottoryvoucherinfo.value' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="lottoryvoucherinfo_value" name="value" ng-model="lottoryvoucherinfo.value" class="form-control" maxLength="20" />
				</div>
			</div>
			<div class="form-group">
				<label for="lottoryvoucherinfo_createdate" class="col-sm-2 control-label">{{ 'lottoryvoucherinfo.createdate' | translate }}</label>
				<div class="col-sm-10">
					<input id="lottoryvoucherinfo_createdate" bs-datepicker data-autoclose="1" ng-model="lottoryvoucherinfo.createdate" name="createdate" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="lottoryvoucherinfo_modifydate" class="col-sm-2 control-label">{{ 'lottoryvoucherinfo.modifydate' | translate }}</label>
				<div class="col-sm-10">
					<input id="lottoryvoucherinfo_modifydate" bs-datepicker data-autoclose="1" ng-model="lottoryvoucherinfo.modifydate" name="modifydate" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="lottoryvoucherinfo_createuser" class="col-sm-2 control-label">{{ 'lottoryvoucherinfo.createuser' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="lottoryvoucherinfo_createuser" name="createuser" ng-model="lottoryvoucherinfo.createuser" class="form-control" maxLength="50" />
				</div>
			</div>
			<div class="form-group">
				<label for="lottoryvoucherinfo_modifyuser" class="col-sm-2 control-label">{{ 'lottoryvoucherinfo.modifyuser' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="lottoryvoucherinfo_modifyuser" name="modifyuser" ng-model="lottoryvoucherinfo.modifyuser" class="form-control" maxLength="50" />
				</div>
			</div>
			<div class="form-group">
				<label for="lottoryvoucherinfo_status" class="col-sm-2 control-label">{{ 'lottoryvoucherinfo.status' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="lottoryvoucherinfo_status" name="status" ng-model="lottoryvoucherinfo.status" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="lottoryvoucherinfo_platform" class="col-sm-2 control-label">{{ 'lottoryvoucherinfo.platform' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="lottoryvoucherinfo_platform" name="platform" ng-model="lottoryvoucherinfo.platform" class="form-control" maxLength="50" />
				</div>
			</div>

			<!-- ACTION BUTTONS -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<a role="button" class="btn btn-danger btn-block" ng-click="delete(lottoryvoucherinfo.uid)" ng-show="mode != 'create'">{{ 'delete' | translate }}</a>
				</div>
    			<div class="col-sm-offset-4 col-sm-2">
					<a role="button" class="btn btn-default btn-block" href="#/lottoryvoucherinfo">{{ 'cancel' | translate }}</a>
				</div>
    			<div class="col-sm-2">
					<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="save()">{{ 'save' | translate }}</button>
				</div>
			</div>
		</form>
			
    </fieldset>
