		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Vouchergeneratorinfo' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'vouchergeneratorinfo.uid' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.version' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.corpid' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.type' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.objecttosend' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.deliverystartdate' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.deliveryenddate' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.deliverystarttime' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.deliveryendtime' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.applystartdate' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.applyenddate' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.limitationmethod' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.timezone' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.count' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.maxamount' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.maxamountperperson' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.applytoallstore' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.applytoalldish' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.targettype' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.overlayuse' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.value' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.createdate' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.modifydate' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.createuser' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.modifyuser' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.status' | translate }}</th>
						<th>{{ 'vouchergeneratorinfo.platform' | translate }}</th>
						<th><a class="btn btn-info" href='#/vouchergeneratorinfo/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="vouchergeneratorinfo in vouchergeneratorinfos">
						<td>{{vouchergeneratorinfo.uid}}</td>
						<td>{{vouchergeneratorinfo.version | number }}</td>
						<td>{{vouchergeneratorinfo.corpid | number }}</td>
						<td>{{vouchergeneratorinfo.type | number }}</td>
						<td>{{vouchergeneratorinfo.objecttosend | number }}</td>
						<td>{{vouchergeneratorinfo.deliverystartdate | date:'shortDate'}}</td>
						<td>{{vouchergeneratorinfo.deliveryenddate | date:'shortDate'}}</td>
						<td>{{vouchergeneratorinfo.deliverystarttime | number }}</td>
						<td>{{vouchergeneratorinfo.deliveryendtime | number }}</td>
						<td>{{vouchergeneratorinfo.applystartdate | date:'shortDate'}}</td>
						<td>{{vouchergeneratorinfo.applyenddate | date:'shortDate'}}</td>
						<td>{{vouchergeneratorinfo.limitationmethod | number }}</td>
						<td>{{vouchergeneratorinfo.timezone}}</td>
						<td>{{vouchergeneratorinfo.count | number }}</td>
						<td>{{vouchergeneratorinfo.maxamount | number }}</td>
						<td>{{vouchergeneratorinfo.maxamountperperson | number }}</td>
						<td>{{vouchergeneratorinfo.applytoallstore | number }}</td>
						<td>{{vouchergeneratorinfo.applytoalldish | number }}</td>
						<td>{{vouchergeneratorinfo.targettype | number }}</td>
						<td>{{vouchergeneratorinfo.overlayuse | number }}</td>
						<td>{{vouchergeneratorinfo.value | number }}</td>
						<td>{{vouchergeneratorinfo.createdate | date:'shortDate'}}</td>
						<td>{{vouchergeneratorinfo.modifydate | date:'shortDate'}}</td>
						<td>{{vouchergeneratorinfo.createuser}}</td>
						<td>{{vouchergeneratorinfo.modifyuser}}</td>
						<td>{{vouchergeneratorinfo.status | number }}</td>
						<td>{{vouchergeneratorinfo.platform}}</td>
						<td><a class="btn btn-info" href="#/vouchergeneratorinfo/{{vouchergeneratorinfo.uid}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
