	<fieldset class="col-sm-12 bordure">
		<legend class="legende">{{ 'Vouchergeneratorinfo' | translate }}</legend>
		
		<div ng-include src="'partials/message-include.html'"></div>
   		
		<form class="well form-horizontal">
			<div class="form-group">
				<label for="vouchergeneratorinfo_uid" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.uid' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_uid" name="uid" ng-model="vouchergeneratorinfo.uid" class="form-control" maxLength="20"  ng-disabled="mode != 'create'"/>
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_version" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.version' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_version" name="version" ng-model="vouchergeneratorinfo.version" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_corpid" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.corpid' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_corpid" name="corpid" ng-model="vouchergeneratorinfo.corpid" class="form-control" maxLength="20" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_type" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.type' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_type" name="type" ng-model="vouchergeneratorinfo.type" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_objecttosend" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.objecttosend' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_objecttosend" name="objecttosend" ng-model="vouchergeneratorinfo.objecttosend" class="form-control" maxLength="20" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_deliverystartdate" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.deliverystartdate' | translate }}</label>
				<div class="col-sm-10">
					<input id="vouchergeneratorinfo_deliverystartdate" bs-datepicker data-autoclose="1" ng-model="vouchergeneratorinfo.deliverystartdate" name="deliverystartdate" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_deliveryenddate" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.deliveryenddate' | translate }}</label>
				<div class="col-sm-10">
					<input id="vouchergeneratorinfo_deliveryenddate" bs-datepicker data-autoclose="1" ng-model="vouchergeneratorinfo.deliveryenddate" name="deliveryenddate" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_deliverystarttime" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.deliverystarttime' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_deliverystarttime" name="deliverystarttime" ng-model="vouchergeneratorinfo.deliverystarttime" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_deliveryendtime" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.deliveryendtime' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_deliveryendtime" name="deliveryendtime" ng-model="vouchergeneratorinfo.deliveryendtime" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_applystartdate" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.applystartdate' | translate }}</label>
				<div class="col-sm-10">
					<input id="vouchergeneratorinfo_applystartdate" bs-datepicker data-autoclose="1" ng-model="vouchergeneratorinfo.applystartdate" name="applystartdate" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_applyenddate" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.applyenddate' | translate }}</label>
				<div class="col-sm-10">
					<input id="vouchergeneratorinfo_applyenddate" bs-datepicker data-autoclose="1" ng-model="vouchergeneratorinfo.applyenddate" name="applyenddate" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_limitationmethod" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.limitationmethod' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_limitationmethod" name="limitationmethod" ng-model="vouchergeneratorinfo.limitationmethod" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_timezone" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.timezone' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_timezone" name="timezone" ng-model="vouchergeneratorinfo.timezone" class="form-control" maxLength="10" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_count" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.count' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_count" name="count" ng-model="vouchergeneratorinfo.count" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_maxamount" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.maxamount' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_maxamount" name="maxamount" ng-model="vouchergeneratorinfo.maxamount" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_maxamountperperson" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.maxamountperperson' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_maxamountperperson" name="maxamountperperson" ng-model="vouchergeneratorinfo.maxamountperperson" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_applytoallstore" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.applytoallstore' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_applytoallstore" name="applytoallstore" ng-model="vouchergeneratorinfo.applytoallstore" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_applytoalldish" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.applytoalldish' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_applytoalldish" name="applytoalldish" ng-model="vouchergeneratorinfo.applytoalldish" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_targettype" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.targettype' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_targettype" name="targettype" ng-model="vouchergeneratorinfo.targettype" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_overlayuse" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.overlayuse' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_overlayuse" name="overlayuse" ng-model="vouchergeneratorinfo.overlayuse" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_value" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.value' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_value" name="value" ng-model="vouchergeneratorinfo.value" class="form-control" maxLength="20" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_createdate" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.createdate' | translate }}</label>
				<div class="col-sm-10">
					<input id="vouchergeneratorinfo_createdate" bs-datepicker data-autoclose="1" ng-model="vouchergeneratorinfo.createdate" name="createdate" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_modifydate" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.modifydate' | translate }}</label>
				<div class="col-sm-10">
					<input id="vouchergeneratorinfo_modifydate" bs-datepicker data-autoclose="1" ng-model="vouchergeneratorinfo.modifydate" name="modifydate" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_createuser" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.createuser' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_createuser" name="createuser" ng-model="vouchergeneratorinfo.createuser" class="form-control" maxLength="50" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_modifyuser" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.modifyuser' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_modifyuser" name="modifyuser" ng-model="vouchergeneratorinfo.modifyuser" class="form-control" maxLength="50" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_status" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.status' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_status" name="status" ng-model="vouchergeneratorinfo.status" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="vouchergeneratorinfo_platform" class="col-sm-2 control-label">{{ 'vouchergeneratorinfo.platform' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="vouchergeneratorinfo_platform" name="platform" ng-model="vouchergeneratorinfo.platform" class="form-control" maxLength="50" />
				</div>
			</div>

			<!-- ACTION BUTTONS -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<a role="button" class="btn btn-danger btn-block" ng-click="delete(vouchergeneratorinfo.uid)" ng-show="mode != 'create'">{{ 'delete' | translate }}</a>
				</div>
    			<div class="col-sm-offset-4 col-sm-2">
					<a role="button" class="btn btn-default btn-block" href="#/vouchergeneratorinfo">{{ 'cancel' | translate }}</a>
				</div>
    			<div class="col-sm-2">
					<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="save()">{{ 'save' | translate }}</button>
				</div>
			</div>
		</form>
			
    </fieldset>
