
	<h3>
		{{ 'welcome' | translate }}
	</h3>

	<div ng-include src="'partials/message-include.html'"></div>
   		      
	<ul class="entity">
        <li><a href="#/account">{{ 'Account' | translate }}</a></li>
        <li><a href="#/administrator">{{ 'Administrator' | translate }}</a></li>
        <li><a href="#/category">{{ 'Category' | translate }}</a></li>
        <li><a href="#/cateringcorpinfo">{{ 'Cateringcorpinfo' | translate }}</a></li>
        <li><a href="#/comboinfo">{{ 'Comboinfo' | translate }}</a></li>
        <li><a href="#/dishspecificationinfo">{{ 'Dishspecificationinfo' | translate }}</a></li>
        <li><a href="#/dishinfo">{{ 'Dishinfo' | translate }}</a></li>
        <li><a href="#/externalaccount">{{ 'Externalaccount' | translate }}</a></li>
        <li><a href="#/mediaresource">{{ 'Mediaresource' | translate }}</a></li>
        <li><a href="#/orderdetail">{{ 'Orderdetail' | translate }}</a></li>
        <li><a href="#/orderheader">{{ 'Orderheader' | translate }}</a></li>
        <li><a href="#/payment">{{ 'Payment' | translate }}</a></li>
        <li><a href="#/paymentlog">{{ 'Paymentlog' | translate }}</a></li>
        <li><a href="#/pointrule">{{ 'Pointrule' | translate }}</a></li>
        <li><a href="#/promotiondetailinfo">{{ 'Promotiondetailinfo' | translate }}</a></li>
        <li><a href="#/promotioninfo">{{ 'Promotioninfo' | translate }}</a></li>
        <li><a href="#/scoreinfo">{{ 'Scoreinfo' | translate }}</a></li>
        <li><a href="#/sequence">{{ 'Sequence' | translate }}</a></li>
        <li><a href="#/storeinfo">{{ 'Storeinfo' | translate }}</a></li>
        <li><a href="#/systemparameter">{{ 'Systemparameter' | translate }}</a></li>
        <li><a href="#/verifyrecord">{{ 'Verifyrecord' | translate }}</a></li>
        <li><a href="#/vouchergeneratorinfo">{{ 'Vouchergeneratorinfo' | translate }}</a></li>
    </ul>
