		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Dishspecificationinfo' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'dishspecificationinfo.uid' | translate }}</th>
						<th>{{ 'dishspecificationinfo.dishid' | translate }}</th>
						<th>{{ 'dishspecificationinfo.ggno' | translate }}</th>
						<th>{{ 'dishspecificationinfo.name' | translate }}</th>
						<th>{{ 'dishspecificationinfo.corpid' | translate }}</th>
						<th>{{ 'dishspecificationinfo.dishname' | translate }}</th>
						<th>{{ 'dishspecificationinfo.simplename' | translate }}</th>
						<th>{{ 'dishspecificationinfo.dishdescription' | translate }}</th>
						<th>{{ 'dishspecificationinfo.imageurl' | translate }}</th>
						<th>{{ 'dishspecificationinfo.price' | translate }}</th>
						<th>{{ 'dishspecificationinfo.orderindex' | translate }}</th>
						<th>{{ 'dishspecificationinfo.createdate' | translate }}</th>
						<th>{{ 'dishspecificationinfo.modifydate' | translate }}</th>
						<th>{{ 'dishspecificationinfo.createuser' | translate }}</th>
						<th>{{ 'dishspecificationinfo.modifyuser' | translate }}</th>
						<th>{{ 'dishspecificationinfo.status' | translate }}</th>
						<th>{{ 'dishspecificationinfo.platform' | translate }}</th>
						<th><a class="btn btn-info" href='#/dishspecificationinfo/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dishspecificationinfo in dishspecificationinfos">
						<td>{{dishspecificationinfo.uid}}</td>
						<td>{{dishspecificationinfo.dishid | number }}</td>
						<td>{{dishspecificationinfo.ggno}}</td>
						<td>{{dishspecificationinfo.name}}</td>
						<td>{{dishspecificationinfo.corpid | number }}</td>
						<td>{{dishspecificationinfo.dishname}}</td>
						<td>{{dishspecificationinfo.simplename}}</td>
						<td>{{dishspecificationinfo.dishdescription}}</td>
						<td>{{dishspecificationinfo.imageurl}}</td>
						<td>{{dishspecificationinfo.price | number }}</td>
						<td>{{dishspecificationinfo.orderindex | number }}</td>
						<td>{{dishspecificationinfo.createdate | date:'shortDate'}}</td>
						<td>{{dishspecificationinfo.modifydate | date:'shortDate'}}</td>
						<td>{{dishspecificationinfo.createuser}}</td>
						<td>{{dishspecificationinfo.modifyuser}}</td>
						<td>{{dishspecificationinfo.status | number }}</td>
						<td>{{dishspecificationinfo.platform}}</td>
						<td><a class="btn btn-info" href="#/dishspecificationinfo/{{dishspecificationinfo.uid}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
