	<fieldset class="col-sm-12 bordure">
		<legend class="legende">{{ 'Promotiondetailinfo' | translate }}</legend>
		
		<div ng-include src="'partials/message-include.html'"></div>
   		
		<form class="well form-horizontal">
			<div class="form-group">
				<label for="promotiondetailinfo_uid" class="col-sm-2 control-label">{{ 'promotiondetailinfo.uid' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="promotiondetailinfo_uid" name="uid" ng-model="promotiondetailinfo.uid" class="form-control" maxLength="20"  ng-disabled="mode != 'create'"/>
				</div>
			</div>
			<div class="form-group">
				<label for="promotiondetailinfo_promotionid" class="col-sm-2 control-label">{{ 'promotiondetailinfo.promotionid' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="promotiondetailinfo_promotionid" name="promotionid" ng-model="promotiondetailinfo.promotionid" class="form-control" maxLength="20" />
				</div>
			</div>
			<div class="form-group">
				<label for="promotiondetailinfo_specificationid" class="col-sm-2 control-label">{{ 'promotiondetailinfo.specificationid' | translate }}</label>
				<div class="col-sm-10">
                    <select id="promotiondetailinfo_specificationid" ng-model="promotiondetailinfo.specificationid" name="specificationid" class="form-control">
						<option value=""></option>
                        <option ng-repeat="dishspecificationinfo in items.dishspecificationinfos" title="{{dishspecificationinfo.label}}" ng-selected="{{dishspecificationinfo.value == promotiondetailinfo.specificationid}}" value="{{dishspecificationinfo.value}}">{{dishspecificationinfo.label}}</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<label for="promotiondetailinfo_corpid" class="col-sm-2 control-label">{{ 'promotiondetailinfo.corpid' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="promotiondetailinfo_corpid" name="corpid" ng-model="promotiondetailinfo.corpid" class="form-control" maxLength="20" />
				</div>
			</div>
			<div class="form-group">
				<label for="promotiondetailinfo_type" class="col-sm-2 control-label">{{ 'promotiondetailinfo.type' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="promotiondetailinfo_type" name="type" ng-model="promotiondetailinfo.type" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="promotiondetailinfo_priceordiscount" class="col-sm-2 control-label">{{ 'promotiondetailinfo.priceordiscount' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="promotiondetailinfo_priceordiscount" name="priceordiscount" ng-model="promotiondetailinfo.priceordiscount" class="form-control" maxLength="20" />
				</div>
			</div>
			<div class="form-group">
				<label for="promotiondetailinfo_createdate" class="col-sm-2 control-label">{{ 'promotiondetailinfo.createdate' | translate }}</label>
				<div class="col-sm-10">
					<input id="promotiondetailinfo_createdate" bs-datepicker data-autoclose="1" ng-model="promotiondetailinfo.createdate" name="createdate" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="promotiondetailinfo_modifydate" class="col-sm-2 control-label">{{ 'promotiondetailinfo.modifydate' | translate }}</label>
				<div class="col-sm-10">
					<input id="promotiondetailinfo_modifydate" bs-datepicker data-autoclose="1" ng-model="promotiondetailinfo.modifydate" name="modifydate" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="promotiondetailinfo_createuser" class="col-sm-2 control-label">{{ 'promotiondetailinfo.createuser' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="promotiondetailinfo_createuser" name="createuser" ng-model="promotiondetailinfo.createuser" class="form-control" maxLength="50" />
				</div>
			</div>
			<div class="form-group">
				<label for="promotiondetailinfo_modifyuser" class="col-sm-2 control-label">{{ 'promotiondetailinfo.modifyuser' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="promotiondetailinfo_modifyuser" name="modifyuser" ng-model="promotiondetailinfo.modifyuser" class="form-control" maxLength="50" />
				</div>
			</div>
			<div class="form-group">
				<label for="promotiondetailinfo_status" class="col-sm-2 control-label">{{ 'promotiondetailinfo.status' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="promotiondetailinfo_status" name="status" ng-model="promotiondetailinfo.status" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="promotiondetailinfo_platform" class="col-sm-2 control-label">{{ 'promotiondetailinfo.platform' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="promotiondetailinfo_platform" name="platform" ng-model="promotiondetailinfo.platform" class="form-control" maxLength="50" />
				</div>
			</div>

			<!-- ACTION BUTTONS -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<a role="button" class="btn btn-danger btn-block" ng-click="delete(promotiondetailinfo.uid)" ng-show="mode != 'create'">{{ 'delete' | translate }}</a>
				</div>
    			<div class="col-sm-offset-4 col-sm-2">
					<a role="button" class="btn btn-default btn-block" href="#/promotiondetailinfo">{{ 'cancel' | translate }}</a>
				</div>
    			<div class="col-sm-2">
					<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="save()">{{ 'save' | translate }}</button>
				</div>
			</div>
		</form>
			
    </fieldset>
