		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Pointrule' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'pointrule.type' | translate }}</th>
						<th>{{ 'pointrule.point' | translate }}</th>
						<th>{{ 'pointrule.createdate' | translate }}</th>
						<th>{{ 'pointrule.modifydate' | translate }}</th>
						<th>{{ 'pointrule.createuser' | translate }}</th>
						<th>{{ 'pointrule.modifyuser' | translate }}</th>
						<th>{{ 'pointrule.delflg' | translate }}</th>
						<th>{{ 'pointrule.platform' | translate }}</th>
						<th><a class="btn btn-info" href='#/pointrule/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="pointrule in pointrules">
						<td>{{pointrule.type}}</td>
						<td>{{pointrule.point | number }}</td>
						<td>{{pointrule.createdate | date:'shortDate'}}</td>
						<td>{{pointrule.modifydate | date:'shortDate'}}</td>
						<td>{{pointrule.createuser}}</td>
						<td>{{pointrule.modifyuser}}</td>
						<td>{{pointrule.delflg}}</td>
						<td>{{pointrule.platform}}</td>
						<td><a class="btn btn-info" href="#/pointrule/{{pointrule.type}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
